@import url(basic.css);

.container {
    display: flex;
}
.item{
    word-wrap: break-word;
    /* flex-basis: auto; */
    /* flex-basis: 100px; */
    width: 100px; 넓이를 직접 줘서 사용해야 함
    flex-basis: auto; /* 안 적어도 됨 */
}